__pycache__
*.pyc
.env
.venv
.model_venv31
6_task_backupp
8_task
face_db
face_preview
model_weights_6task
models
Notebook
old
test_files
vision
voice
*.npy
*.csv
*.pth
*.pt
libcusparse_lt-linux-aarch64-0.7.1.0-archive
